{% extends "admin/base_site.html" %}
{% load i18n static direct_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main-sidebar %}{% endblock %}

{% block login %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}

		<!-- Page -->
		<div class="page main-signin-wrapper">
			<!-- Row -->
			<div class="row signpages text-center">
				<div class="col-md-12">
					<div class="">
						<div class="row row-sm">
							<div class="col-lg-6 col-xl-5 d-none d-lg-block text-center bg-primary">
								<div class="mt-5 pt-4 p-2">
									<img src="{% static 'dashboard/img/brand/logo-light.png' %}" class="header-brand-img mb-4" alt="logo">
									<div class="clearfix"></div>
									<img src="{% static 'img/svgs/user.svg' %}" class="ht-100 mb-0" alt="user">
									<h5 class="mt-4 text-white">{% trans 'Welcome to the Invoicing app' %}</h5>
									<span class="tx-white-6 tx-13 mb-5 mt-xl-0">
                    Manage your business
                  </span>
                  <br />
                  <span class="tx-white-6 tx-13 mb-5 mt-xl-0">
                    every where
                  </span>
                  <br />
                  <span class="tx-white-6 tx-13 mb-5 mt-xl-0">
                    every time
                  </span>
                  </span>
								</div>
							</div>
							<div class="col-lg-6 col-xl-7 col-xs-12 col-sm-12 login_form ">
								<div class="container-fluid">
									<div class="row row-sm">
										<div class="mt-2 mb-2">
											<img src="assets/img/brand/logo.png" class=" d-lg-none header-brand-img text-left float-left mb-4" alt="logo">
											<div class="clearfix"></div>
                      <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                        <div class="form-row">
                          {{ form.username.errors }}
                          {{ form.username.label_tag }} {{ form.username|add_class:'form-control' }}
                        </div>
                        <div class="form-row">
                          {{ form.password.errors }}
                          {{ form.password.label_tag }} {{ form.password|add_class:'form-control' }}
                          <input type="hidden" name="next" value="{{ next }}">
                        </div>
                        {% url 'admin_password_reset' as password_reset_url %}
                        {% if password_reset_url %}
                        <div class="password-reset-link">
                          <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                        </div>
                        {% endif %}
                        <input type="submit" class="btn ripple btn-main-primary btn-block" value="{% trans 'Log in' %}">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row -->

		</div>
		<!-- End Page -->

</div>
{% endblock %}

{% block footer %}{% endblock footer %}

{% block extra_css %}
<style>
  body {
    overflow: hidden
  }
</style>
{% endblock extra_css %}