{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main-sidebar %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}











		<!-- Page -->
		<div class="page main-signin-wrapper">

			<!-- Row -->
			<div class="row signpages text-center">
				<div class="col-md-12">
					<div class="card">
						<div class="row row-sm">
							<div class="col-lg-6 col-xl-5 d-none d-lg-block text-center bg-primary">
								<div class="mt-5 pt-4 p-2 pos-absolute">
									<img src="assets/img/brand/logo-light.png" class="header-brand-img mb-4" alt="logo">
									<div class="clearfix"></div>
									<img src="{% static 'img/svgs/user.svg' %}" class="ht-100 mb-0" alt="user">
									<h5 class="mt-4 text-white">حساب کاربری برای خود بسازید</h5>
									<span class="tx-white-6 tx-13 mb-5 mt-xl-0">برای ایجاد ، کشف و ارتباط با جامعه جهانی ثبت نام کنید</span>
								</div>
							</div>
							<div class="col-lg-6 col-xl-7 col-xs-12 col-sm-12 login_form ">
								<div class="container-fluid">
									<div class="row row-sm">
										<div class="card-body mt-2 mb-2">
											<img src="assets/img/brand/logo.png" class=" d-lg-none header-brand-img text-left float-left mb-4" alt="logo">
											<div class="clearfix"></div>
                      <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                        <div class="form-row">
                          {{ form.username.errors }}
                          {{ form.username.label_tag }} {{ form.username }}
                        </div>
                        <div class="form-row">
                          {{ form.password.errors }}
                          {{ form.password.label_tag }} {{ form.password }}
                          <input type="hidden" name="next" value="{{ next }}">
                        </div>
                        {% url 'admin_password_reset' as password_reset_url %}
                        {% if password_reset_url %}
                        <div class="password-reset-link">
                          <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                        </div>
                        {% endif %}
                        <div class="submit-row">
                          <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}">
                        </div>
                      </form>
											<form>
												<h5 class="text-right mb-2">به حساب خود وارد شوید</h5>
												<p class="mb-4 text-muted tx-13 ml-0 text-right">برای ایجاد ، کشف و ارتباط با جامعه جهانی وارد سیستم شوید</p>
												<div class="form-group text-right">
													<label>پست الکترونیک</label>
													<input class="form-control" placeholder="ایمیل خود را وارد کنید" type="text">
												</div>
												<div class="form-group text-right">
													<label>کلمه عبور</label>
													<input class="form-control" placeholder="رمز ورود خود را وارد کنید" type="password">
												</div>
												<button class="btn ripple btn-main-primary btn-block">ورود</button>
											</form>
											<div class="text-right mt-5 ml-0">
												<div class="mb-1"><a href="#">رمز عبور خود را فراموش کرده اید؟</a></div>
												<div>حساب ندارید؟ <a href="#">اینجا ثبت نام کنید</a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row -->

		</div>
		<!-- End Page -->

</div>
{% endblock %}
