{% if widget.is_initial %}
<p class="file-upload" style="display: flex; align-content: center; justify-content: center; flex-direction: column;">
    {{ widget.initial_text }}:
    {% if widget.attrs.accept == 'image/*' %}
      <a href="{{ widget.value.url }}">
        <img style="width: 100px" src="{{ widget.value.url }}" />
      </a>
    {% else %}
      <a href="{{ widget.value.url }}">{{ widget.value }}</a>
    {% endif %}
    {% if not widget.required %}
      <span class="clearable-file-input">
        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
        <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
      </span>
    {% endif %}<br>
  {{ widget.input_text }}:
{% endif %}
  <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% if widget.is_initial %}</p>{% endif %}
